.main-container {
  background-color: #312e2e;
}
.app-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #312e2e;
  height: 100vh;
  padding: 0;
}

.app-content {
  display: flex;
  /* height: calc(100vh - 56px); Adjust according to navbar height */
  /* height: max-content; */
  padding: 20px;
  min-height: 100vh;
}

.app-panel {
  background: #eae7dc;
  /* border: 2px solid #8e8d8a; */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 10px;
  flex-grow: 1;

  min-height: 100vh; /* Ensure the container covers the full viewport height */
  /* flex-direction: column; Allow content to stretch and fill available space */
}

.app-panel h2 {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 15px;
  border-bottom: 2px solid #ff8c00;
  padding-bottom: 5px;
}

.app-panel p {
  font-size: 1em;
  color: #666;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.no-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 2px solid #8e8d8a;
  border-radius: 12px;
  background-color: #eae7dc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.no-items-container p {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #ffffff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}
