.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.shift-left {
  transform: translateX(-100%);
}

.plus-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.item-rectangle {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

.large-text-area-container {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  display: flex;
  flex-direction: column;
}

.close-button {
  cursor: pointer;
  align-self: flex-end;
  font-size: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

.large-text-area {
  width: 100%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.confirm-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-dialog {
  /* background: white; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirm-dialog button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-dialog button:first-of-type {
  background: #007bff;
  color: white;
}

.confirm-dialog button:last-of-type {
  background: #dc3545;
  color: white;
}
